<!DOCTYPE html>
<html th:replace="product/index.html :: layout(~{::content})">
<!--<html th:replace="product/index.html :: index(~{content})">-->
<body>
<div th:fragment="content">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" name="inputEmail4" id="inputEmail4" placeholder="Email" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Full Name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhoneNumber">Phone Number</label>
      <input type="tel" class="form-control" name="inputPhoneNumber" id="inputPhoneNumber" placeholder="+40-123-456-789" pattern="+[0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{3}" required>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" name="inputAddress" id="inputAddress" placeholder="1234 Main St" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" name="inputCity" id="inputCity" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <input type="text" class="form-control" name="inputState" id="inputState" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" name="inputZip" id="inputZip" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out <em>(not implemented yet)</em>
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" formmethod="post">Go to payment</button>
  </form>
</div>
</body>