<!DOCTYPE html>
<html th:replace="product/index.html :: layout(~{::content})">
<!--<html th:replace="product/index.html :: index(~{content})">-->
<body>
<div th:fragment="content">
    <div class="right border">
        <div class="header">Order Summary</div>
        <p th:text="${#lists.size(products)} + ' items'">2 items</p>
        <div class="right border" th:each="cartProd,iterStat : ${products}">
            <div class="row item">
                <div class="col-4 align-self-center"><img width="100%" th:attr="src='/static/img/product_' + ${cartProd.id} + '.jpg'" alt=""/></div>
                <div class="col-8">
                    <div class="row" th:text="${cartProd.getPrice()}"><b>$ 26.99</b></div>
                    <div class="row text-muted" th:text="${cartProd.name}">Be Legandary Lipstick-Nude rose</div>
                    <div class="row">Qty:1</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row lower">
            <div class="col text-left">Subtotal</div>
            <div class="col text-right" th:text="${cartPriceSum}">$ 46.98</div>
        </div>
        <div class="row lower">
            <div class="col text-left">Delivery</div>
            <div class="col text-right">Free</div>
        </div>
        <hr>
        <div class="row lower">
            <div class="col text-left" th:text="'Billing address: ' + ${billingAddress}"><b>Billing Address</b></div><br>
            <div class="col text-left" th:text="'Card number: ' + ${cardNumber}"><b>Card Number</b></div>

        </div>
        <hr>
        <div class="row lower">
            <div class="col text-left"><b>Total paid:</b></div>
            <div class="col text-right" th:text="${cartPriceSum}"><b>$ 46.98</b></div>
        </div>
        <div class="row lower">
        </div><a class="btn btn-success" href="/">Return home</a>
    </div>
</div>
</body>
</html>